#my-graph {
    display: inline-block;
}

#graph-screen {
    height: 100%;
	padding: 0;
	padding-top: 50px;
	margin: 0;
	display: none;
}

#waiting-screen {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: black;
}

#eye {
	vertical-align: middle;
}

.helper {
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}
 
html,
body {
font-family: 'IBM Plex Sans', sans-serif;
text-align: center;
height: 100%;
margin: 0;
padding: 0;
}